@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Wawa';
  src: url("/TayWawa.otf")format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--green);
  background-color: var(--bg);
  font-family: 'Roboto Mono', monospace;
}

:root {
  --bg: rgb(255, 245, 224);
  --light-bg: rgb(255, 247, 231);
  --white:hsl(24, 100%, 99%);
  --black:rgb(30, 30, 31);
  --red: hsl(17, 74%, 30%);
  --pink: hsl(359, 37%, 54%);
  --green: hsl(97, 64%, 15%);
  --yellow: hsl(53, 89%, 39%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */



